# python -m venv /path/to/new/virtual/environment

# Development
imageio
matplotlib
numpy
opencv-python
pandas
Pillow
rawpy
scipy
tensorflow
rawpy
scikit-image
openpyxl
ttkbootstrap
pyserial
zwoasi
tqdm
scikit-learn